a :active{
	outline:none;
}
.MEETUP_EVERYWHERE_WIDGET{
	position: relative;
	background: #1a1a1a;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 200px;
	font-family: verdana, sans-serif;
}
.MEETUP_EVERYWHERE_WIDGET_birddogid_content_body {
	padding: 8px;
	color: #fff;
}
.MEETUP_EVERYWHERE_WIDGET_birddogid_content_body a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.MEETUP_EVERYWHERE_WIDGET a img{
	border: 0!important;
}
.MEETUP_EVERYWHERE_WIDGET_title {
	display: block;	
	font-family: arial, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1.5em;
}
.MEETUP_EVERYWHERE_WIDGET_name {
}
.MEETUP_EVERYWHERE_WIDGET_logo{
	display: block;
	text-align: left;
}
.MEETUP_EVERYWHERE_WIDGET_suffix {
	color: #aaa;
}
.MEETUP_EVERYWHERE_WIDGET_subtitle {
	font-size: 12px;
	display: block;
}
.MEETUP_EVERYWHERE_WIDGET_count {
}
.MEETUP_EVERYWHERE_WIDGET_people {
	font-size: 12px;
	display: block;
	margin-bottom: 4px;
}
.MEETUP_EVERYWHERE_WIDGET_upcoming {	
}
.MEETUP_EVERYWHERE_WIDGET_upcoming_list {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	background: #333;
}
.listitem{
	display:block;
}
a.listItemLink {
	zoom: 1;
    border-top: 1px solid #1a1a1a!important; 
    padding: 8px 10px; 
	display: block;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
// .MEETUP_EVERYWHERE_WIDGET_upcoming_list span .tooltip span a {
// 	display: inline;
// }
a.listItemLink:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a.listItemLink:hover {
	background: #a3e4ff; 
    color: #3c3633 !important;
}
a.listItemLink{
	padding: 6px 6px;
}
a.listItemLink .MEETUP_EVERYWHERE_WIDGET_all{
	display: block;
	text-align: right;
	display: block;
	font-family: arial, sans-serif;
	font-weight: bold;
	/*
	text-transform: lowercase;
	font-variant: small-caps;
	*/
	font-size: 12px;
}
.MEETUP_EVERYWHERE_WIDGET_upcoming a .when{
	display: block;
	float: left;
	width: 4.1em;
	text-align: right;
}
.MEETUP_EVERYWHERE_WIDGET_upcoming a .loc{
	margin-left: 4.35em;
	padding-left: .35em;
	border-left: 1px dotted #555;
	display: block;
}
.MEETUP_EVERYWHERE_WIDGET_upcoming a .loc .city{
	font-weight: bold;
	font-size: 12px;
}
.MEETUP_EVERYWHERE_WIDGET_upcoming a .when .date{
	display: block;
}
.MEETUP_EVERYWHERE_WIDGET_upcoming a .when .time,
.MEETUP_EVERYWHERE_WIDGET_upcoming a .loc .address{
	font-size: 10.2px;
	display: block;
}
.MEETUP_EVERYWHERE_WIDGET_bottom_logo{
	margin-top: 8px;
}
.tooltip {
  background-color: #333333;
  color: #ffffff;
  font: 12px normal Helvetica,Arial,Verdana,sans-serif;
  display: none;
  position: absolute;
  text-align: left;
  line-height:1.5em;
  /*white-space: nowrap;*/
  width: 200px;
  z-index: 100;
  padding:6px 10px;
}
.venueName {
	display:block;
	font-weight:bold;
}
.venueLocation {
	font-weight:normal;
}
.address, .description {
	margin-bottom:1em;
}
.getDirections {
	display:block;
	font-family:arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:left;
}
.getDirectionsGo {
	background-color: #ca3e47;
	background-image: -moz-linear-gradient(top, #ca3e47,	#a8252e);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #a8252e),color-stop(1, #ca3e47));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca3e47', endColorstr='#a8252e');
	border: 2px solid #a8252e;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	text-shadow: black 0px 0px 2px;
	zoom: 1;
	display: inline;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-left: 2px;
	line-height: .75em;
	color: #fff!important;
	font-family: arial;
	padding: 0px 4px;
	cursor: pointer;
	cursor: hand;
}